@use "@angular/material" as mat;
@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Style to fix the weird border with angular material + tailwind
.mdc-notched-outline__notch {
  border-right: none !important;
}

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: #3f51b5,
      container-text-color: white,
    )
  );
}
