<mat-nav-list>
  <a
    mat-list-item
    routerLink="/meditation"
    routerLinkActive="active"
    [matTooltip]="'Meditation'"
    [matTooltipPosition]="'right'"
  >
    <mat-icon>self_improvement</mat-icon>
  </a>
  <a
    mat-list-item
    class="my-4"
    routerLink="/dashboard"
    routerLinkActive="active"
    [matTooltip]="'Dashboard'"
    [matTooltipPosition]="'right'"
  >
    <mat-icon>dashboard</mat-icon>
  </a>
  <a
    class="my-4"
    mat-list-item
    routerLink="/notes"
    routerLinkActive="active"
    [matTooltip]="'Notizen'"
    [matTooltipPosition]="'right'"
  >
    <mat-icon>note</mat-icon>
  </a>
</mat-nav-list>
